###### Requirements Without Version Specifiers ######
certifi
lxml
pip
requests
requests-cache
scikit-image
wheel
yfinance

###### Requirements With Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
numpy == 1.23.4
matplotlib == 3.7.3
pandas == 2.0.3
tensorflow == 2.15.0
scikit-learn == 1.3.2
