###### Requirements Without Version Specifiers ######
certifi
lxml
mplfinance
pandas-datareader
requests
requests-cache
scikit-image

###### Requirements With Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
grpcio == 1.51.1
h5py == 3.7.0
matplotlib == 3.7.3
numpy == 1.24.4
pandas == 2.0.3
protobuf == 3.19.6
scikit-learn == 1.3.2
scipy == 1.10.1
tensorflow == 2.10.0
yfinance == 0.2.36
